<meta charset="utf-8" />
<title>{{template:title}} | {{settings:site_name}}</title>

<link rel="shortcut icon" href="{{url:base}}/favicon.ico" />

<script src="https://www.google.com/jsapi?key={{sys:getGoogleAPIKey}}" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{{url:base}}/media/js/jquery-1.7.1.min.js"></script> 

<script type="text/javascript">
  //google.load("jquery", "1.7");
  //google.load("jqueryui", "1.8.16");
  var WEB_URI = '{{url:base}}';
</script>
 
<script type="text/javascript" src="{{url:base}}/media/js/jquery-ui.min.js"></script> 
 
<script type="text/javascript" src="{{url:base}}/media/js/jquery.form.js"></script> 
<script type="text/javascript" src="{{url:base}}/media/js/helper.js"></script> 
<script type="text/javascript" src="{{url:base}}/media/js/site.js"></script> 
<script type="text/javascript" src="{{url:base}}/media/js/php.default.namespaced.min.js"></script> 
<script type="text/javascript" src="{{url:base}}/media/js/crontab.js"></script> 
<script type="text/javascript" src="{{url:base}}/media/js/jquery.qtip.js"></script> 

<script type="text/javascript" src="{{url:base}}/mod_io/jsdetect"></script> 
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{{template:metadata}}
 
<link rel="stylesheet" href="{{url:base}}/media/css/style.css" type="text/css"	media="screen" />
<link rel="stylesheet" href="{{url:base}}/media/css/ui.css" type="text/css"	media="screen" />
<link rel="stylesheet" href="{{url:base}}/media/css/jquery.qtip.css" type="text/css" media="screen" />

{{sys:cometchat}}

<script type="text/javascript" src="{{url:base}}/media/js/giftbox.js"></script> 
<script type="text/javascript" src="{{url:base}}/media/js/pet.js"></script> 
<script type="text/javascript" src="{{url:base}}/media/js/map_flirts.js"></script> 
<script type="text/javascript" src="{{url:base}}/media/js/jquery.gmap.js"></script> 
<script type="text/javascript" src="{{url:base}}/media/js/peeped_access.js"></script> 
<script type="text/javascript" src="{{url:base}}/media/js/my_backstage.js"></script>
<script type="text/javascript" src="{{url:base}}/media/js/backstage.js"></script>
<script type="text/javascript" src="{{url:base}}/media/js/favourite.js"></script>
<script type="text/javascript" src="{{url:base}}/media/js/trialpay.js"></script>


<meta property="og:image"  content="{{url:base}}image/jz.jpg" />
<meta property="og:site_name" content="Juzon" />
<meta property="og:type" content="website" />
<!--
<meta property="og:title"  content="Juzon" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://juzon.com" />
<meta property="og:site_name" content="Juzon" />
<meta property="fb:admins" content="100000047988157" />
-->





