<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="keywords" content="" />
		<meta name="description" content="" />

		{pyro:theme:partial name="metadata"}
	</head>

<body id="page">

	<div id="page-wrap">
		{pyro:theme:partial name="header"}
		
		<div id="center-wrap" class="ui-corner-tl ui-corner-tr">
			{pyro:template:body}
			<div class="clrboth"></div>
		</div>
		<div class="clrboth"></div>
	</div>
	<div class="clrboth"></div>
	<div id="bottom1">
		<div class="content-wrap">
			<div id="pay-info">
				{pyro:getpost:body id="23"}
			</div>
			<div class="clrboth"></div>
		</div>
	</div>	
	
	{pyro:theme:partial name="footer"}
	 
</body>
</html>
